@model Buchhaltung.Models.Anfangsbetrag

@{
    ViewBag.Title = "Anfangsbetrag Löschen";
}

<h2>Lösche Anfangsbetrag</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Konto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konto.Bezeichnung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Betrag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Betrag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bilanz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bilanz.Bezeichnung)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.Bilanz != null)
            {
                @Html.ActionLink("Zurück", "Index", "Anfangsbetrag", new { bilanz = ViewBag.Bilanz }, null)
            }
            else
            {
                @Html.ActionLink("Zurück", "Index")
            }
            |
            <input type="submit" value="Löschen" class="btn btn-default"/>
        </div>
    }
</div>
