@model IEnumerable<Buchhaltung.Models.Anfangsbetrag>

@{
    ViewBag.Title = "Anfangsbetrag";
}

<h2>
    Anfangsbeträge
    @if (ViewBag.Bilanz != null && Model.FirstOrDefault(b => b.BilanzId == ViewBag.Bilanz) != null)
    {
        @Html.Raw("von ")
        @Model.First(b => b.BilanzId == ViewBag.Bilanz).Bilanz.Bezeichnung
    }
</h2>

<p>
    @if (ViewBag.Bilanz != null)
    {
        @Html.ActionLink("Zurück zur Bilanz", "Details", "Bilanz", new { id = ViewBag.Bilanz }, null)
        @Html.Raw(" |")
    }
    @Html.ActionLink("Neuer Anfangsbetrag", "Create", new { bilanz = ViewBag.Bilanz })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Konto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Betrag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bilanz)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Konto.Bezeichnung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Betrag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bilanz.Bezeichnung)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id, bilanz = ViewBag.Bilanz}) |
            @Html.ActionLink("Löschen", "Delete", new {id = item.Id, bilanz = ViewBag.Bilanz})
        </td>
    </tr>
}

</table>
