@model Buchhaltung.Models.Bilanz

@{
    ViewBag.Title = "Bilanz Details";
}

<h2>@Html.DisplayFor(model => model.Bezeichnung) Details</h2>

<p>
    @Html.ActionLink("Zurück", "Index") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Anfangsbeträge", "Index", "Buchungssatz", new { bilanz = Model.Id }, null) |
    @Html.ActionLink("Geschäftsfälle", "Index", "Buchungssatz", new { bilanz = Model.Id }, null)
</p>

<div>
    <div class="row" style="text-align: center; border-bottom: solid black 1px">
        <div class="col-md-4">
            <p>Aktiven</p>
        </div>
        <div class="col-md-4">
            <p><b>Bilanz</b> vom (@Html.DisplayFor(model => model.Datum))</p>
        </div>
        <div class="col-md-4">
            <p>Passiven</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p><b>UL</b></p>
                </div>
                <div class="col-md-12" style="margin-left: 3em">
                    <p>K1</p>
                </div>
                <div class="col-md-12" style="margin-left: 3em">
                    <p>K2</p>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="border-left: solid black 1px">
            <div class="row">
                <div class="col-md-12">
                    <p><b>UL</b></p>
                </div>
                <div class="col-md-12" style="margin-left: 3em">
                    <p>K1</p>
                </div>
                <div class="col-md-12" style="margin-left: 3em">
                    <p>K2</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p><b>UL</b></p>
                </div>
                <div class="col-md-12" style="margin-left: 3em">
                    <p>K1</p>
                </div>
                <div class="col-md-12" style="margin-left: 3em">
                    <p>K2</p>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="border-left: solid black 1px">
            <div class="row">
                <div class="col-md-12">
                    <p><b>UL</b></p>
                </div>
                <div class="col-md-12" style="margin-left: 3em">
                    <p>K1</p>
                </div>
                <div class="col-md-12" style="margin-left: 3em">
                    <p>K2</p>
                </div>
            </div>
        </div>
    </div>


</div>

