@using Buchhaltung.Controllers
@model Buchhaltung.Models.Bilanz

@{
    ViewBag.Title = "Bilanz Details";
}

<h2>@Html.DisplayFor(model => model.Bezeichnung) Details</h2>

<p>
    @Html.ActionLink("Zurück", "Index") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Anfangsbeträge", "Index", "Anfangsbetrag", new { bilanz = Model.Id }, null) |
    @Html.ActionLink("Geschäftsfälle", "Index", "Buchungssatz", new { bilanz = Model.Id }, null)
</p>

<div>
    <div class="row" style="text-align: center; border-bottom: solid black 1px">
        <div class="col-md-4">
            <p>Aktiven</p>
        </div>
        <div class="col-md-4">
            <p><b>Bilanz</b> vom (@Html.DisplayFor(model => model.Datum))</p>
        </div>
        <div class="col-md-4">
            <p>Passiven</p>
        </div>
    </div>

    <div class="row" style="margin-top: 1em">
        <div class="col-md-6">
            <b>Umlauf Vermögen</b>
        </div>
        <div class="col-md-6">
            <b>Fremdkapital</b>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            @foreach (var kontoabschluss in ((BilanzController)ViewContext.Controller).GetKontoabschlussListOfKontoArt(Model.Id, 1))
            {
                <div class="col-md-12">
                    <div class="col-md-9">
                        @kontoabschluss.Konto.Bezeichnung
                    </div>
                    <div class="col-md-3">
                        @kontoabschluss.Schlussbetrag CHF
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            @foreach (var kontoabschluss in ((BilanzController)ViewContext.Controller).GetKontoabschlussListOfKontoArt(Model.Id, 3))
            {
                <div class="col-md-12">
                    <div class="col-md-9">
                        @kontoabschluss.Konto.Bezeichnung
                    </div>
                    <div class="col-md-3">
                        @kontoabschluss.Schlussbetrag CHF
                    </div>
                </div>
            }
        </div>
    </div>
    
    <div class="row" style="margin-top: 2em;">
        <div class="col-md-6">
            <b>Anlage Vermögen</b>
        </div>
        <div class="col-md-6">
            <b>Eigenkapital</b>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            @foreach (var kontoabschluss in ((BilanzController)ViewContext.Controller).GetKontoabschlussListOfKontoArt(Model.Id, 2))
            {
                <div class="col-md-12">
                    <div class="col-md-9">
                        @kontoabschluss.Konto.Bezeichnung
                    </div>
                    <div class="col-md-3">
                        @kontoabschluss.Schlussbetrag CHF
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            @foreach (var kontoabschluss in ((BilanzController)ViewContext.Controller).GetKontoabschlussListOfKontoArt(Model.Id, 4))
            {
                <div class="col-md-12">
                    <div class="col-md-9">
                        @kontoabschluss.Konto.Bezeichnung
                    </div>
                    <div class="col-md-3">
                        @kontoabschluss.Schlussbetrag CHF
                    </div>
                </div>
            }
        </div>
    </div>
    
    <div class="row" style="margin-top: 2em; border-top: solid black 1px; padding-top: 1em;">
        <div class="col-md-3">
        </div>
        <div class="col-md-3" style="text-align: center">
            <p>Total</p>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3" style="text-align: center">
            <p>Total</p>
        </div>
    </div>

</div>

