@model Buchhaltung.Models.Buchungssatz

@{
    ViewBag.Title = "Buchungssatz Löschen";
}

<h2>Lösche Buchungssatz</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Betrag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Betrag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bilanz.Bezeichnung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bilanz.Bezeichnung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Haben.Bezeichnung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Haben.Bezeichnung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soll.Bezeichnung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soll.Bezeichnung)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.Bilanz != null)
            {
                @Html.ActionLink("Zurück", "Index", "Buchungssatz", new { bilanz = ViewBag.Bilanz }, null)
            }
            else
            {
                @Html.ActionLink("Zurück", "Index")
            }
            |
            <input type="submit" value="Löschen" class="btn btn-default"/>
        </div>
    }
</div>
