@model IEnumerable<Buchhaltung.Models.Buchungssatz>

@{
    ViewBag.Title = "Buchungssatz";
}

<h2>
    Geschäftsfälle @if (ViewBag.Bilanz != null)
    {
        @Html.Raw("von ")
        @Model.First(b => b.Bilanz.Id == ViewBag.Bilanz).Bilanz.Bezeichnung
    }
</h2>

<p>
    @if (ViewBag.Bilanz != null)
    {
        @Html.ActionLink("Zurück zur Bilanz", "Details", "Bilanz", new { id = ViewBag.Bilanz }, null)
        @Html.Raw(" |")
    }
    @Html.ActionLink("Neuer Buchungssatz", "Create", new { bilanz = ViewBag.Bilanz })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Soll)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Haben)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Betrag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bilanz)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Soll.Bezeichnung)
        </td>
        <td>/</td>
        <td>
            @Html.DisplayFor(modelItem => item.Haben.Bezeichnung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Betrag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beschreibung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bilanz.Bezeichnung)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id, bilanz = ViewBag.Bilanz }) |
            @Html.ActionLink("Löschen", "Delete", new { id = item.Id, bilanz = ViewBag.Bilanz })
        </td>
    </tr>
}

</table>
